In [15]:
import pandas as pd
import numpy as np
PATH_PRE = "./Appolo/A_Dataset/highccgroup/PreDataset.csv"
PATH_PRICE = "./raw_data/kerosene_price.csv"
PATH_SAVE = "./Appolo/A_Dataset/highccgroup/Train_Test.csv"

In [16]:
df = pd.read_csv(PATH_PRE)
df_price = pd.read_csv(PATH_PRICE)
df["supplied_at"] = pd.to_datetime(df["supplied_at"], format="%Y-%m-%d %X")
df_price["date"] = pd.to_datetime(df_price["date"], format="%Y-%m")

In [4]:
# Using 椿データ we need to drop purepose
df.pop("purpose")

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3059   NaN
3060   NaN
3061   NaN
3062   NaN
3063   NaN
Name: purpose, Length: 3064, dtype: float64

In [17]:
df.loc[1, "supplied_at"]

Timestamp('2020-12-03 10:20:00')

In [18]:
len(df)

18900

In [19]:
df["last_supply_time"] = ""
for i in range(0, len(df) - 1):
    if df.loc[i+1, "customer_id"] == df.loc[i, "customer_id"]:
        df.loc[i+1, "last_supply_time"] = df.loc[i, "supplied_at"]

In [20]:
df

,customer_id,supplied_at,volume,size,sum,mean,matemp,mltemp,mhtemp,mwind,msnowacc,msnow,msun,mhumidi,mean_consumption,interval,last_supply_time
0,251.0,2020-11-20 08:26:00,109.8,198,1653.9,11.729787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,251.0,2020-12-03 10:20:00,124.3,198,1653.9,11.729787,-2.300000,-0.138462,-4.353846,2.730769,1.000000,0.769231,1.976923,67.000000,9.561538,13.0,2020-11-20 08:26:00
2,251.0,2020-12-18 09:32:00,177.9,198,1653.9,11.729787,0.100000,2.486667,-2.766667,2.980000,1.333333,0.800000,3.800000,62.466667,11.860000,15.0,2020-12-03 10:20:00
3,251.0,2020-12-29 13:51:00,144.6,198,1653.9,11.729787,2.745455,5.863636,-0.290909,3.036364,11.727273,2.545455,2.390909,68.454545,13.145455,11.0,2020-12-18 09:32:00
4,251.0,2021-01-13 16:15:00,248.7,198,1653.9,11.729787,6.440000,10.193333,3.253333,2.340000,28.066667,4.266667,3.853333,69.066667,16.580000,15.0,2020-12-29 13:51:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18895,8622770.0,2021-11-08 14:37:00,151.7,446,543.5,4.529167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-27 14:49:00
18896,8622770.0,2021-12-08 10:03:00,86.7,446,543.5,4.529167,-5.710000,-2.293333,-8.980000,3.543333,0.866667,0.600000,3.303333,69.866667,2.890000,30.0,2021-11-08 14:37:00
18897,8622770.0,2022-01-08 17:01:00,159.8,446,543.5,4.529167,2.629032,5.838710,-0.506452,3.116129,31.451613,4.193548,3.287097,71.290323,5.154839,31.0,2021-12-08 10:03:00
18898,8622770.0,2022-02-11 09:30:00,169.8,446,543.5,4.529167,2.900000,6.247059,0.038235,3.094118,85.441176,6.352941,3.611765,73.558824,4.994118,34.0,2022-01-08 17:01:00
18899,8622770.0,2022-03-10 14:09:00,127.2,446,543.5,4.529167,0.485185,3.622222,-2.518519,3.577778,103.000000,3.370370,3.937037,70.296296,4.711111,27.0,2022-02-11 09:30:00

In [21]:
dataset = df.copy()
dataset_final = dataset.copy()
for i in dataset.index:
    if np.isnan(dataset.loc[i, "matemp"]):
        dataset_final.drop(i, inplace=True)
dataset_final.reset_index(inplace=True, drop=True)

In [22]:
dataset_final.head()

,customer_id,supplied_at,volume,size,sum,mean,matemp,mltemp,mhtemp,mwind,msnowacc,msnow,msun,mhumidi,mean_consumption,interval,last_supply_time
0,251.0,2020-12-03 10:20:00,124.3,198,1653.9,11.729787,-2.300000,-0.138462,-4.353846,2.730769,1.000000,0.769231,1.976923,67.000000,9.561538,13.0,2020-11-20 08:26:00
1,251.0,2020-12-18 09:32:00,177.9,198,1653.9,11.729787,0.100000,2.486667,-2.766667,2.980000,1.333333,0.800000,3.800000,62.466667,11.860000,15.0,2020-12-03 10:20:00
2,251.0,2020-12-29 13:51:00,144.6,198,1653.9,11.729787,2.745455,5.863636,-0.290909,3.036364,11.727273,2.545455,2.390909,68.454545,13.145455,11.0,2020-12-18 09:32:00
3,251.0,2021-01-13 16:15:00,248.7,198,1653.9,11.729787,6.440000,10.193333,3.253333,2.340000,28.066667,4.266667,3.853333,69.066667,16.580000,15.0,2020-12-29 13:51:00
4,251.0,2021-01-28 08:15:00,199.6,198,1653.9,11.729787,3.160000,6.986667,-0.220000,3.560000,45.200000,3.933333,3.166667,71.800000,13.306667,15.0,2021-01-13 16:15:00

In [23]:
len(dataset_final)

16229

In [24]:
dataset_final["last_year_mean"] = ""
dataset_final["last_year_sum"] = ""
unique_id = pd.unique(dataset_final["customer_id"])

# add last year data
for id in unique_id:
    df_id = dataset_final[dataset_final["customer_id"]==id]
    df_id.reset_index(inplace=True)
    for i in range(len(df_id)-1):
        if df_id.loc[i+1, "supplied_at"].month - df_id.loc[i, "supplied_at"].month > 6:
            for j in range(i, len(df_id)-1):
                index = df_id.loc[j, "index"]
                if(df_id.loc[j + 1, "supplied_at"].month - df_id.loc[j, "supplied_at"].month < 3):
                    dataset_final.loc[index, "last_year_mean"] =  df_id.loc[i, "mean"]
                    dataset_final.loc[index, "last_year_sum"] =  df_id.loc[i, "sum"]

# drop data that doesn't contain last year data
for i in dataset_final.index:
    if not isinstance(dataset_final.loc[i, "last_year_mean"], float):
        dataset_final.drop(i, inplace=True)
        
dataset_final.reset_index(inplace=True, drop=True)

In [25]:
# add price data
dataset_final["price"] = ""

for i in dataset_final.index:
    for j in df_price.index:
        if (dataset_final.loc[i, "supplied_at"].year == df_price.loc[j, "date"].year and 
        dataset_final.loc[i, "supplied_at"].month == df_price.loc[j, "date"].month):
            dataset_final.loc[i, "price"] = df_price.loc[j, "price"]

In [26]:
dataset_final.tail()

,customer_id,supplied_at,volume,size,sum,mean,matemp,mltemp,mhtemp,mwind,msnowacc,msnow,msun,mhumidi,mean_consumption,interval,last_supply_time,last_year_mean,last_year_sum,price
5250,8622750.0,2022-02-11 10:20:00,191.1,446,1249.0,10.495798,4.068750,7.531250,0.906250,2.587500,98.375000,6.500000,4.625000,69.187500,11.943750,16.0,2022-01-26 13:14:00,9.901754,1128.8,112
5251,8622750.0,2022-02-24 15:19:00,132.1,446,1249.0,10.495798,2.130769,5.100000,-0.946154,3.915385,102.384615,5.461538,3.838462,74.076923,10.161538,13.0,2022-02-11 10:20:00,9.901754,1128.8,112
5252,8622770.0,2021-12-08 10:03:00,86.7,446,543.5,4.529167,-5.710000,-2.293333,-8.980000,3.543333,0.866667,0.600000,3.303333,69.866667,2.890000,30.0,2021-11-08 14:37:00,4.42303,729.8,112
5253,8622770.0,2022-01-08 17:01:00,159.8,446,543.5,4.529167,2.629032,5.838710,-0.506452,3.116129,31.451613,4.193548,3.287097,71.290323,5.154839,31.0,2021-12-08 10:03:00,4.42303,729.8,107
5254,8622770.0,2022-02-11 09:30:00,169.8,446,543.5,4.529167,2.900000,6.247059,0.038235,3.094118,85.441176,6.352941,3.611765,73.558824,4.994118,34.0,2022-01-08 17:01:00,4.42303,729.8,112

In [28]:
len(dataset_final)

5255

In [14]:
Traing_Test = dataset_final
Traing_Test.to_csv(PATH_SAVE, index=False)